<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zj.dao.Attend_scheduleMapper" >
<!--   <resultMap type="map" id="getthree" autoMapping="true">
  <id property="id" column="id" />
  <association property="ro" column="rolesId" javaType="role" autoMapping="true">
  <id property="rolesId" column="rolesId"></id>
  </association>
  
  <association property="staff" column="staff_id" javaType="staff_info" autoMapping="true">
	 	<id property="staff_id" column="staff_id"/>
	 	</association>
	 	
	 	<association property="de" column="departmentId" javaType="department" autoMapping="true">
	 	<id property="departmentId" column="departmentId"/>
	 	</association>
	 	
	 </resultMap> -->
	<!-- 表连接查询 -->
	<!-- <select id="scheFind" resultMap="getthree">
		select ache.*,r.rolesId,d.departmentId,s.staff_id
from Attend_schedule ache join role r on ache.rolesId=r.rolesId JOIN
 department d ON d.departmentId=ache.departmentId join staff_info s on s.staff_id=ache.staff_id
  order by id asc
	</select>  --> 
	<select id="scheFind" resultType="map">
		select ache.*,r.rolesId,r.rolesName,d.departmentId,d.departmentName,s.staff_id,s.STAFF_NAME
from Attend_schedule ache join roles r on ache.rolesId=r.rolesId JOIN
 department d ON d.departmentId=ache.departmentId join staff_info s on s.staff_id=ache.staff_id
  order by id desc
	</select> 
	<select id="roleFind" resultType="map">
	select * from roles
	</select>
	<select id="departFind" resultType="map">
	select * from department
	</select>
	<select id="staffFind" resultType="map">
	select * from staff_info
	</select>
  <insert id="scheSave" parameterType="Attend_schedule">
  insert into Attend_schedule(departmentId,rolesId,staff_id,name,status,date_start,date_end) values(
  #{departmentId},#{rolesId},#{staff_id},#{name},#{status},#{date_start},#{date_end})
  </insert>
  <delete id="scheDelete" parameterType="Attend_schedule">
  delete from Attend_schedule where id=#{id}
  </delete>
  <update id="scheUpdate" parameterType="Attend_schedule">
  update Attend_schedule set departmentId=#{departmentId},rolesId=#{rolesId},staff_id=#{staff_id},name=#{name},status=#{status},date_start=#{date_start},date_end=#{date_end} where id=#{id}
  </update>
  <update id="updateState" parameterType="Attend_schedule">
  update Attend_schedule set status=#{status} where id=#{id}
  </update>
 <select id="scheFindById" parameterType="int" resultType="Attend_schedule">
 select * from Attend_schedule where id=#{id}
 </select>
</mapper>