<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

  	<mapper namespace="zj.dao.ExcleMapper">
  		<insert id="saveWork" parameterType="Work_register">
  			insert into work_register
  			(register_order,attendance_actual,rest,
  			absenteeism,late,early_retreat,
  			work_time1,work_offtime1,work_time2,work_offtime2)
  			values(#{registerOrder},#{attendanceActual},#{rest},#{absenteeism},#{late},#{earlyRetreat},#{workTime1},#{workOfftime1},#{workTime2},#{workOfftime2})
  		</insert>
  	</mapper>