<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zj.dao.Hr_planMapper">
  <!-- 查询全部 -->
  <select id="QueryAll" resultType="Map">
     select plan.*,d.departmentName,p.positionName from  hr_recruit_plan plan left join department d on plan.departmentId=d.departmentId
     left join position p on plan.positionId=p.positionId
  </select>
  <!-- 添加 -->
  <insert id="Save" parameterType="Hr_recruit_plan">
	   insert into hr_recruit_plan
       (
          PLAN_NAME,departmentId,positionId,PLAN_RECR_NO,PLAN_DITCH,PLAN_BCWS,START_DATE,
          END_DATE,WORK_DATE,SALARY_AREA,POSITION_REQUIRE,RECRUIT_DIRECTION,
          RECRUIT_REMARK,REGISTER_TIME,ATTACHMENT_NAME,PLAN_STATUS,id
       ) 
       values
       (#{planName}, #{departmentId},
         #{positionId}, #{planRecrNo}, #{planDitch},#{planBcws},
         #{startDate}, #{endDate},#{workDate}, #{salaryArea}, #{positionRequire},#{recruitDirection},
         #{recruitRemark},#{registerTime}, #{attachmentName}, #{planStatus},#{id}
       )
  </insert>
  <!-- 根据id查询 -->
   <select id="QueryId" resultType="Map" parameterType="int">
     select plan.*,p.positionName,d.departmentName,u.id,u.uname from
      hr_recruit_plan plan left join Position p on plan.positionId=p.positionId
      left join  department d on plan.departmentId=d.departmentId
      left join users u on plan.id=u.id
     where PLAN_No=#{planNo}
   </select>
   <!-- 修改 -->
   <update id="Update"  parameterType="Hr_recruit_plan" >
      update hr_recruit_plan set
     PLAN_NAME=#{planName},departmentId=#{departmentId},positionId=#{positionId},
     PLAN_RECR_NO=#{planRecrNo},PLAN_DITCH=#{planDitch},PLAN_BCWS=#{planBcws},
     START_DATE=#{startDate},END_DATE=#{endDate},WORK_DATE=#{workDate},SALARY_AREA=#{salaryArea},
     POSITION_REQUIRE=#{positionRequire},RECRUIT_DIRECTION=#{recruitDirection},
     RECRUIT_REMARK=#{recruitRemark},REGISTER_TIME=#{registerTime},ATTACHMENT_NAME=#{attachmentName},
     PLAN_STATUS=#{planStatus},id=#{id}
     where PLAN_No=#{planNo}
   </update>
   <delete id="Delete" parameterType="int">
     delete from hr_recruit_plan where PLAN_NO=#{planNo}
   </delete>
   <!-- 查询审批状态 -->
   <select id="Querystatus" resultType="Map" parameterType="Hr_recruit_plan">
     select plan.*,d.departmentName,p.positionName,u.uname from hr_recruit_plan plan left join department d on plan.departmentId=d.departmentId
     left join position p on plan.positionId=p.positionId left join users u on plan.id=u.id
      where plan.PLAN_STATUS=#{planStatus} and u.id=#{id} 
      <if test="planNo != 0" >
         and plan.PLAN_NO = #{planNo}
        </if>
   </select>
   <update id="statusUpdate"  parameterType="Hr_recruit_plan" >
      update hr_recruit_plan 
      <set>
        <if test="planStatus != null" >
          PLAN_STATUS = #{planStatus},
        </if>
        <if test="approveDate != null" >
          APPROVE_DATE = #{approveDate},
        </if>
        <if test="approveComment != null" >
          APPROVE_COMMENT = #{approveComment}
        </if>
        </set>
         where PLAN_No=#{planNo}
   </update>
</mapper>