<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zj.dao.Hr_recruit_poolMapper" >
	<!--查询全部  -->
 	<select id="queryAll" resultType="Map">
select hl.*,hn.PLAN_NAME from hr_recruit_pool hl LEFT JOIN hr_recruit_plan hn on hl.PLAN_NO=hn.PLAN_NO
 	</select>
 	<!-- 招聘计划 -->
 	<select id="queryplan" resultType="Map">select * from hr_recruit_plan </select>
 	<!-- 添加 -->
 	<insert id="savehrpool" parameterType="Hr_recruit_pool">
 		insert into hr_recruit_pool
 		(PLAN_NO,EMPLOYEE_SEX,EMPLOYEE_BIRTH,EMPLOYEE_NATIONALITY,EMPLOYEE_PHONE,EMPLOYEE_AGE,EMPLOYEE_EMAIL,EMPLOYEE_NATIVE_PLACE,
 		EMPLOYEE_DOMICILE_PLACE,EMPLOYEE_MARITAL_STATUS,EMPLOYEE_POLITICAL_STATUS,EMPLOYEE_HEALTH,
 		JOB_BEGINNING,PHOTO_NAME,GRADUATION_DATE,GRADUATION_SCHOOL,
 		EMPLOYEE_HIGHEST_SCHOOL,FOREIGN_LANGUAGE1,FOREIGN_LEVEL1,RUKUTIME,RECRU_CHANNEL,EMPLOYEE_SKILLS,
 		WORK_EXPERIENCE,PROJECT_EXPERIENCE,RESUME)
 		values(#{PLAN_NO},#{EMPLOYEE_SEX},#{EMPLOYEE_BIRTH},#{EMPLOYEE_NATIONALITY},
 		#{EMPLOYEE_PHONE},#{EMPLOYEE_AGE},#{EMPLOYEE_EMAIL},#{EMPLOYEE_NATIVE_PLACE},#{EMPLOYEE_DOMICILE_PLACE},#{EMPLOYEE_MARITAL_STATUS},#{EMPLOYEE_POLITICAL_STATUS},
 		#{EMPLOYEE_HEALTH},#{JOB_BEGINNING},#{PHOTO_NAME},#{GRADUATION_DATE},
 		#{GRADUATION_SCHOOL},#{EMPLOYEE_HIGHEST_SCHOOL},#{FOREIGN_LANGUAGE1},#{FOREIGN_LEVEL1},
 		#{RUKUTIME},#{RECRU_CHANNEL},#{EMPLOYEE_SKILLS},#{WORK_EXPERIENCE},#{PROJECT_EXPERIENCE},#{RESUME})
 	</insert>
 	<!-- 删除 -->
 	<delete id="deletePool" parameterType="Hr_recruit_pool">
 		delete from hr_recruit_pool where EXPERT_ID=#{EXPERT_ID}
 	</delete>
 	<!-- 根据id查询 -->
 	<select id="queryByid" resultType="Map" parameterType="int">
 		select  ro.*,rn.PLAN_NAME from hr_recruit_pool ro LEFT JOIN hr_recruit_plan rn on 
ro.PLAN_NO=rn.PLAN_NO where EXPERT_ID=#{EXPERT_ID}
 	</select>
 	<!-- 修改 -->
 	<update id="updatePool" parameterType="Hr_recruit_pool">
 		update hr_recruit_pool
 		<set>
 			<if test="PLAN_NO !=null">PLAN_NO=#{PLAN_NO},</if>
 			<if test="EMPLOYEE_SEX !=null">EMPLOYEE_SEX=#{EMPLOYEE_SEX},</if>
 			<if test="EMPLOYEE_BIRTH !=null">EMPLOYEE_BIRTH=#{EMPLOYEE_BIRTH},</if>
 			<if test="EMPLOYEE_NATIONALITY !=null">EMPLOYEE_NATIONALITY=#{EMPLOYEE_NATIONALITY},</if>
 			<if test="EMPLOYEE_PHONE !=null">EMPLOYEE_PHONE=#{EMPLOYEE_PHONE},</if>
 			<if test="EMPLOYEE_AGE !=null">EMPLOYEE_AGE=#{EMPLOYEE_AGE},</if>
 			<if test="EMPLOYEE_EMAIL !=null">EMPLOYEE_EMAIL=#{EMPLOYEE_EMAIL},</if>
 			<if test="EMPLOYEE_NATIVE_PLACE !=null">EMPLOYEE_NATIVE_PLACE=#{EMPLOYEE_NATIVE_PLACE},</if>
 			<if test="EMPLOYEE_DOMICILE_PLACE !=null">EMPLOYEE_DOMICILE_PLACE=#{EMPLOYEE_DOMICILE_PLACE},</if>
 			<if test="EMPLOYEE_MARITAL_STATUS !=null">EMPLOYEE_MARITAL_STATUS=#{EMPLOYEE_MARITAL_STATUS},</if>
 			<if test="EMPLOYEE_POLITICAL_STATUS !=null">EMPLOYEE_POLITICAL_STATUS=#{EMPLOYEE_POLITICAL_STATUS},</if>
 			<if test="EMPLOYEE_HEALTH !=null">EMPLOYEE_HEALTH=#{EMPLOYEE_HEALTH},</if>
 			<if test="JOB_BEGINNING !=null">JOB_BEGINNING=#{JOB_BEGINNING},</if>
 			<if test="PHOTO_NAME !=null">PHOTO_NAME=#{PHOTO_NAME},</if>
 			<if test="GRADUATION_DATE !=null">GRADUATION_DATE=#{GRADUATION_DATE},</if>
 			<if test="GRADUATION_SCHOOL !=null">GRADUATION_SCHOOL=#{GRADUATION_SCHOOL},</if>
 			<if test="EMPLOYEE_HIGHEST_SCHOOL !=null">EMPLOYEE_HIGHEST_SCHOOL=#{EMPLOYEE_HIGHEST_SCHOOL},</if>
 			<if test="FOREIGN_LANGUAGE1 !=null">FOREIGN_LANGUAGE1=#{FOREIGN_LANGUAGE1},</if>
 			<if test="FOREIGN_LEVEL1 !=null">FOREIGN_LEVEL1=#{FOREIGN_LEVEL1},</if>
 			<if test="RUKUTIME !=null">RUKUTIME=#{RUKUTIME},</if>
 			<if test="RECRU_CHANNEL !=null">RECRU_CHANNEL=#{RECRU_CHANNEL},</if>
 			<if test="EMPLOYEE_SKILLS !=null">EMPLOYEE_SKILLS=#{EMPLOYEE_SKILLS},</if>
 			<if test="WORK_EXPERIENCE !=null">WORK_EXPERIENCE=#{WORK_EXPERIENCE},</if>
 			<if test="PROJECT_EXPERIENCE !=null">PROJECT_EXPERIENCE=#{PROJECT_EXPERIENCE},</if>
 			<if test="RESUME !=null">RESUME=#{RESUME},</if>
 		</set>
 		where EXPERT_ID=#{EXPERT_ID}
 	</update>
</mapper>