<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zj.dao.StaffInfoMapper" >
   <select id="queryStaff" resultType="java.util.Map">
    <!-- select * from StaffInfo -->
    select d.departmentname,s.staff_Id,s.staff_Name from staff_info s left join department d on
       s.departmentId=d.departmentId    
  </select>  
  
  <select id="findAll" resultType="Department" parameterType="int">
    select * from department
    
  
  </select>
   <!-- <select id="queryById" resultType="StaffInfo" parameterType="int">
     select * from staff_Info where staff_Id=#{staff_Id}
  </select> -->
   <select id="queryById" resultType="java.util.Map">
     select s.staff_Id,s.staff_Name from staff_Info s where staff_Id=#{staff_Id}
  </select> 
  <select id="queryDepartId" resultType="java.util.Map" parameterType="int">
     select d.departmentname,s.staff_Id,s.staff_Name from staff_info s inner join department d on
       s.departmentId=d.departmentId and s.departmentId=#{departmentid}    
  </select>
      
</mapper>