<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zj.dao.Staff_infoMapper" >
	<!-- 查询全部 -->
	<select id="selectAll" resultType="Map">
		select info.*,depa.departmentName,p.positionName,r.rolesName
		from staff_info info
	    LEFT JOIN department depa on info.departmentId=depa.departmentId 
		LEFT JOIN position p on info.positionId=p.positionId 
		LEFT JOIN roles r on info.rolesId=r.rolesId
	</select>
	
	<!-- 添加 -->
	<insert id="save" parameterType="Staff_info">
		insert into staff_info
		(rolesId,departmentId,STAFF_NO,STAFF_NAME,STAFF_CARD_NO,STAFF_BIRTH,STAFF_AGE,STAFF_SEX,STAFF_POLITICAL_STATUS,
		STAFF_NATIVE_PLACE,STAFF_NATIONALITY,STAFF_EMAIL,STAFF_PHONE,HOME_ADDRESS,
		STAFF_HIGHEST_SCHOOL,STAFF_HIGHEST_DEGREE,GRADUATION_DATE,GRADUATION_SCHOOL,
		STAFF_MAJOR,STAFF_CS,STAFF_CTR,ADD_TIME,WORK_STATUS,DATES_EMPLOYED,REMARK)
		values(#{rolesId},#{departmentId},#{STAFF_NO},#{staffName},#{STAFF_CARD_NO},
		#{STAFF_BIRTH},#{STAFF_AGE},#{STAFF_SEX},#{STAFF_POLITICAL_STATUS},#{STAFF_NATIVE_PLACE},
		#{STAFF_NATIONALITY},#{STAFF_EMAIL},#{STAFF_PHONE},#{HOME_ADDRESS},#{STAFF_HIGHEST_SCHOOL},
		#{STAFF_HIGHEST_DEGREE},#{GRADUATION_DATE},#{GRADUATION_SCHOOL},
		#{STAFF_MAJOR},#{STAFF_CS},#{STAFF_CTR},#{ADD_TIME},#{workStatus},#{DATES_EMPLOYED},#{REMARK})
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="Staff_info">
		delete from staff_info where staff_id=#{staffId}
	</delete>
	<!--根据id查询  -->
	<select id="selectId" parameterType="int" resultType="Map">
		select info.*,depa.departmentName,p.positionName,r.rolesName
		from staff_info info
	    LEFT JOIN department depa on info.departmentId=depa.departmentId 
		LEFT JOIN position p on info.positionId=p.positionId 
		LEFT JOIN roles r on info.rolesId=r.rolesId
		where staff_id=#{staffId}
	</select>
	<update id="update" parameterType="Staff_info" >
		update staff_info  
		<set>
			<if test="rolesId !=null">rolesId=#{rolesId},</if>
			<if test="departmentId !=null">departmentId=#{departmentId},</if>
			<if test="STAFF_NO !=null">STAFF_NO=#{STAFF_NO},</if>
			<if test="staffName !=null">STAFF_NAME=#{staffName},</if>
			<if test="STAFF_CARD_NO !=null">STAFF_CARD_NO=#{STAFF_CARD_NO},</if>
			<if test="STAFF_BIRTH !=null">STAFF_BIRTH=#{STAFF_BIRTH},</if>
			<if test="STAFF_AGE !=null">STAFF_AGE=#{STAFF_AGE},</if>
			<if test="STAFF_SEX !=null">STAFF_SEX=#{STAFF_SEX},</if>
			<if test="STAFF_POLITICAL_STATUS !=null">STAFF_POLITICAL_STATUS=#{STAFF_POLITICAL_STATUS},</if>
			<if test="STAFF_NATIVE_PLACE !=null">STAFF_NATIVE_PLACE=#{STAFF_NATIVE_PLACE},</if>
			<if test="STAFF_NATIONALITY !=null">STAFF_NATIONALITY=#{STAFF_NATIONALITY},</if>
			<if test="STAFF_EMAIL !=null">STAFF_EMAIL=#{STAFF_EMAIL},</if>
			<if test="STAFF_PHONE !=null">STAFF_PHONE=#{STAFF_PHONE},</if>
			<if test="HOME_ADDRESS !=null">HOME_ADDRESS=#{HOME_ADDRESS},</if>
			<if test="STAFF_HIGHEST_SCHOOL !=null">STAFF_HIGHEST_SCHOOL=#{STAFF_HIGHEST_SCHOOL},</if>
			<if test="STAFF_HIGHEST_DEGREE !=null">STAFF_HIGHEST_DEGREE=#{STAFF_HIGHEST_DEGREE},</if>
			<if test="GRADUATION_DATE !=null">GRADUATION_DATE=#{GRADUATION_DATE},</if>
			<if test="GRADUATION_SCHOOL !=null">GRADUATION_SCHOOL=#{GRADUATION_SCHOOL},</if>
			<if test="STAFF_MAJOR !=null">STAFF_MAJOR=#{STAFF_MAJOR},</if>
			<if test="STAFF_CS !=null">STAFF_CS=#{STAFF_CS},</if>
			<if test="STAFF_CTR !=null">STAFF_CTR=#{STAFF_CTR},</if>
			<if test="ADD_TIME !=null">ADD_TIME=#{ADD_TIME},</if>
			<if test="DATES_EMPLOYED !=null">DATES_EMPLOYED=#{DATES_EMPLOYED},</if>
			<if test="workStatus !=null">WORK_STATUS=#{workStatus},</if>
			<if test="REMARK !=null">REMARK=#{REMARK}</if>
		</set>
		where staff_id=#{staffId}
	</update>
	<!--角色  -->
	<select id="selectRole" resultType="Map">
		select * from roles
	</select>
	<!-- 部门 -->
	<select id="selectDep" resultType="Map">
		select * from department
	</select>
	<!-- 职务 -->
	<select id="selectPost" resultType="Map"> 
		select * from position
	</select>
</mapper>