<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="zj.dao.TravelMapper" >
  <select id="queryAll" resultType="java.util.Map">
    <!-- select * from travel -->
    select t.status_Name,t.travel_Id,s.staff_Name,t.travel_Reason,t.travel_Place,t.start_Time,
       t.end_Time,t.examine_Person,t.circulate from travel t left join staff_Info s on
       t.sta_Staff_Id=s.STAFF_ID order by t.travel_Id
    
  </select>
  
  <select id="findAll" resultType="Staff_info">
    select staff_Id staffId,staff_Name staffName from staff_info
  </select>
  <select id="queryById" resultType="Travel" parameterType="int">
     select * from travel where travel_Id=#{travel_Id}
  </select>
  <select id="queryStaff2" resultType="java.util.Map" parameterType="int">
     select s.staff_Name,t.travel_Reason,t.travel_Place,t.start_Time,t.end_Time,t.status_Name
     from travel t left join staff_Info s on t.sta_Staff_Id=s.STAFF_ID
     where t.sta_Staff_Id=#{sta_Staff_Id}
  </select>
  
  <insert id="save" parameterType="Travel" >
    insert into travel (sta_Staff_Id,travel_place,start_time, end_time, travel_date,
      travel_reason, examine_Person, circulate, status_name)
    values (#{sta_Staff_Id,jdbcType=INTEGER}, #{travel_Place,jdbcType=VARCHAR}, 
      #{start_Time,jdbcType=TIMESTAMP}, #{end_Time,jdbcType=TIMESTAMP}, #{travel_Date,jdbcType=INTEGER}, 
      #{travel_Reason,jdbcType=VARCHAR},#{examine_Person,jdbcType=VARCHAR}, #{circulate,jdbcType=VARCHAR}, 
      #{status_Name,jdbcType=VARCHAR})
  </insert>
   <update id="updateStatu" parameterType="Travel">
    update travel set status_Name='1' where travel_Id=#{travel_Id} 
  </update>
  <update id="updateStatu2" parameterType="Travel">
    update travel set status_Name='2' where travel_Id=#{travel_Id} 
  </update>
</mapper>